@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.product-content {
  width:100%;
}

.notice-blockquote {
  border-left: 5px solid #4db6ac;
}
.field_with_errors input {
  @extend .invalid
}
.breadcrumb:before {
  color: rgba(0, 0, 0, 0.7);
}